extends layout

block content
    - function zeroAdder(number) {return number < 10 ? '0'+number : number}
    - function frDate(date, delimiter) {return zeroAdder(date.getDay()) + delimiter + zeroAdder((date.getMonth()+1)) + delimiter + date.getFullYear()}
    .page-header
        .page-header_image
            img.img-resp.center(src='/images/bg-veilles.png' alt='utec')
        .container
            h2 Veille
    section.content.mb-xl
        .container
            h2 Veille
            p Une veille technologique et juridique sont mises &agrave; disposition :
            .d-md-flex.align-content-center.justify-content-between
                a#btnVeilleIT.btn.btn--blue.w-100.mr-md-2.mb-3.mb-md-0(href='#!') Veille technologique
                a#btnVeilleJUR.btn.btn--purple.w-100.ml-md-2(href='#!') Veille juridique
    section.veille.veille-it
        .container
            .content
                h2 Veille technologique
                p
                    b
                        | Sur cette page figure les derni&egrave;res information sur l&apos;informatique et la technologie.
            .row
                each article in techFeed.items
                    .col-12.col-md-6
                        article.article-card.mb-m
                            .thumbnail
                                img.img-resp(src=article.enclosure.url alt='title')
                                - function zeroAdder(number) {return number < 10 ? '0'+number : number}
                                - function frDate(date, delimiter) {return zeroAdder(date.getDay()) + delimiter + zeroAdder((date.getMonth()+1)) + delimiter + date.getFullYear()}
                                span.article_date #{frDate(new Date(article.isoDate), '/')}
                            .caption
                                h3 #{article.title}
                                p(style='line-break: anywhere;')
                                    each category in article.categories
                                        small.pills.pills--white.mr-1.mb-1 #{category}
                                p #{article.content}
                                a.btn.btn--light(href=article.link target='_blank' title=article.title)
                                    | Lire l'article
    section.veille.veille-jur
        .container
            .content
                h2 Veille juridique
                p
                    b
                        | Sur cette page figure les dernières informations relatant de la juridique informatique.
            .row
                each article in juriFeed.items
                    .col-12.col-md-6
                        article.article-card.mb-m.colored-card--purple
                            .caption
                                h3 #{article.title.toString()}
                                b.article_date.mb-2.d-block #{frDate(new Date(article.isoDate), '/')}
                                p #{article.contentSnippet}
                                a.btn.btn--light(href=article.link target='_blank' title=article.title)
                                    | Lire l'article
    section.credits.mb-l
        .container
            .content
                h2 Provenance des flux :
                .d-md-flex
                    .credits_it.w-100.mb-5
                        h3 Informatique
                        ul
                            li #{techFeed.title}
                        p #{techFeed.description}
                        a.btn.btn--blue(href=techFeed.link target='_blank') Visiter le site
                    .credits-jur.w-100
                        h3 Juridique
                        ul
                            li #{juriFeed.title}
                        p #{juriFeed.description}
                        a.btn.btn--purple(href=juriFeed.link target='_blank') Visiter le site
